@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "./global.scss";
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
// 
.video-icon h5 {
  font-size: 22px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}
.video-icon {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  flex-direction: column;
}
.video-icon span {
  border-radius: 50%;
  cursor: pointer;
  padding: 30px;
  position: relative;
}
.video-icon span svg {
  color: #fff;
  font-size: 4rem;
  transition: .3s ease-in-out;
}
.video-icon span:before {
  -webkit-animation: loading 1s ease-in infinite;
  animation: loading 1s ease-in infinite;
  border: 3px solid #fff;
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
// 
.buy-functionality {
  background: #f4f4f4;
  border-radius: 15px;
  display: flex;
  font-family: Montserrat;
  justify-content: space-between;
  padding: 80px;
  position: relative;
}
.cart-banner h1 {
  width: 100%;
}
.div {
  padding: 80px 30px !important;
}

.watch {
  text-align: center;
}
.watch button {
  font-size: 16px;
  font-family: "Montserrat";
  padding: 19px 70px;
  background: #15023A;
  color: #FFF;
  text-transform: uppercase;
  border: 1px solid #15023A;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.watch button:hover{
  background: white;
  color: #15023A;
}
.buy-functionality h3 {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0;
}
.buy-functionality h4 {
  color: #767676;
  font-size: 17px;
  font-weight: 400;
}
.buy-functionality svg {
  color: #767676;
  font-size: 2.4rem;
  font-weight: 600;
}

// 

.content-text {
  padding: 100px 0;
}
.content-text p{
  color: #767676;
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
  padding-bottom: 20px;
  width: 66%;
}
.position-changing__item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -150px !important;
}
.content-text h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}
.item__{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.banner___text h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  width: 70% !important;
  margin-right: auto;
  color: #FFF;
  margin-top: 0;
  line-height: 75px;
  letter-spacing: 1px;
}
.item__:before {
  background: linear-gradient(45deg,rgba(0,0,0,.867),rgba(21,2,58,.49));
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.topbar .wrapper .left .logo {
  font-size: 21px;
  text-decoration: none;
  color: inherit;
  margin-right: 40px;
  font-weight: 300 !important;
  font-family: "Sevillana";
  position: relative;
  top: 8px;
  font-style: italic;
  text-transform: uppercase;
}
.topbar.active > .wrapper > .left a {
  color: black;
}
.topbar.active > .wrapper >.right >.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000000;
  transform-origin: left;
  transition: all 2s ease;
}
.css-1m9128y {
  opacity: 0 !important;
}

.speaker {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  margin-top: 40px;
}
.speaker img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}
.text-center.get-start button {
  font-size: 16px;
  font-family: 'Montserrat';
  padding: 19px 70px;
  margin-top: 80px;
  background: #15023A;
  color: #FFF;
  text-transform: uppercase;
  border: 1px solid #15023A;
  cursor: pointer;
  transition: .3s ease-in-out;
  &:hover{
    background: white;
    color: #15023A;
  }
}
.speaker img {

  border-radius: 6px;
}
span.box__item.marginBottom {
  margin-top: 10px !important
}
.container{
  width: 1280px !important;
  margin: 0 auto;
}
.close {
  display: none;
}
 
@media only screen and (max-width: 990px) {
  .buy-functionality {
    flex-direction: column !important;
    padding: 30px !important;
    margin: 0 20px;
    position: relative;
    bottom: 40px;
  }
  .banner___text p {

    width: 90% !important;
    margin-right: 40px !important;
}
  .close {
    display: block !important;
  }
  .container {
    width: 100% !important
}
.banner___text h1 {
  text-align: left !important;
}
.banner___text {
  padding: 0 20px !important
}
.video-section {
  height: 80vh !important
}
.management-review p {
  font-size: 15px !important;
  width: 85% !important;
  line-height: 25px;
 
}

.contact p {
  font-size: 15px !important;
  width: 85% !important;
  line-height: 25px;
 
}

 .contact-one p {
  font-size: 15px !important;
  width: 85% !important;
  line-height: 25px;
 
}
.contact-details {
  grid-template-columns: repeat(2, 1fr) !important;
  padding-right: 0 !important;
  
}
.cart-container {
  grid-template-columns: repeat(1, 1fr) !important;

}
.div h1 {

  text-align: center !important
}
.price {
  justify-content: start !important;
 
}
.success-banner h1 {
  width: 100% !important;
}
.maximum-checkout {
  width: 90% !important;
}
.success-message h2 {
  text-align: center !important;
}
.cart-summary {
  margin-top: 30px !important;
}
.cart-summary h2 {
  margin-bottom: 20px !important;
}
.payment-banner h1 {
  width: 100% !important;
}
.form-grid {
  
  grid-template-columns: repeat(1, 1fr) !important;
  
  padding: 70px 30px !important;
}
.shipment-banner h1 {
  width: 100% !important;
}
.total-container {
  padding: 0 0px !important;
  margin-top: 20px;
}
.delete {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  font-size: 50px;
  margin-top: 20px !important;
}
.product-quantity button {

  width: 100% !important;
}
.product-img img {
  width: 100% !important;
}
.product-name {
  margin: 18px 0 !important;
}
.contact-one h3 {
 
  text-align: left !important;
}
.contact-one h3 {
  font-size: 14px !important
}
.contact-one p {
  text-align: left !important;
}
.contact-one h4 {
  text-align: left !important
}
.contact-one p {
  width: 100% !important;
}
.grid-management {
  grid-template-columns: repeat(1, 1fr) !important;

}
.image-parent {
  grid-template-columns: repeat(1, 1fr) !important;

}
.container-for-contact {
  grid-template-columns: repeat(1, 1fr) !important;

}

.map {
  
  margin-top: 50px !important
}
.img__item {
  margin-top: 30px !important
}
.contact__form {
  margin-top: 50px !important
}

.contact h1 {
  font-size: 27px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  margin-bottom: 2px !important;
  line-height: 40px !important;
}

.banner___text h2 {
  font-size: 27px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  margin-bottom: 2px !important;
  line-height: 40px !important;
  width: 90% !important;
}
.item__ {
  height: 100vh !important;
}
.buy-functionality {
flex-direction: column !important;
padding: 30px !important;
margin: 0 20px;
}
.contact {
  padding: 30px !important;
}

.banner___text.item____________ {
  position: relative;
}
.content-text.gap-zero {
  margin: 0 !important;
}
.speaker {
  grid-template-columns: repeat(1, 1fr) !important;
  margin: 25px !important
}

.position-changing__item {
  position: relative !important;
  left: 0;
  right: 0;
  margin-top: 0px;
  bottom: 0px;
}
.content-text p {

  width: 100% !important
}

.item__ {
  padding: 0 !important;
  height: 70vh !important;
}

.content-text {
  padding: 30px !important;
  margin-top: 180px !important;
}


.management-review h5 {
  font-family: "Montez", cursive;
  font-size: 15px !important;
  margin-top: 20px !important;
  text-align: center;
  font-weight: 300;
}
.management-review p {
  font-size: 14px !important;
  width: 80% !important;
  margin: 0 auto !important;
  text-align: center;
}
.review-container h1 {

  text-align: center !important
}
.single-img {
  text-align: center;
}
.text-center.get-start button {
  margin-top: 0 !important;
 
}
.how-to-sell {
  position: relative;
  top: 10px;
}
.review-container {
  grid-template-columns: repeat(1, 1fr) !important
}
.single-img img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  column-gap: 0 !important;
  margin-top: 100px;
}
.review-container h1 {
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 22px !important;

  line-height: 35px !important
}
.banner___text h1 {
  display: inline-block !important;
}
}